@charset "UTF-8";
table {
	width: 1000px;
	height: auto;
	border-collapse: collapse;
}

th {
	background-color: #D0C8FF;
	color: white;
}

#board_tr {
	border-bottom: 1px gray dotted;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
}

tr:hover {
	background-color: #E7E2FF;
	color:white;
}

#t1 {
	width: 10%;
	text-align: center;
}

#t2 {
	width: 40%;
	padding-left:10px;
}
#t3{
	width: 20%;
	text-align: center;
}

.board {
	margin: 0 auto;
	width: 1000px;
	background-color: ;
}

#search {
	margin: 0 auto 300px auto;
	background-color: #D1C9FE;
	width: 1000px;
	height: 60px;
}

select{
	border-style: none;
	height:20px;
	border-radius: 3px;
}

input{
	width:500px;
	height:20px;
	border-style: none;
	border-radius: 3px;
}

#boardButton{
	height:30px;
	width:80px;
	background-color: #BCB0FE;
	border-color: #D1C9FE;
	border-radius:5px;
	color: white;
	border-style: none;
}
a{
	text-decoration:none;
	color: black;
}
a:hover{
	color:white;
}

#underBar{
	margin: 0 auto;
	display: table;
	line-height: 60px;
}
.pagingbox{
	display:table;
	margin:30px auto;
}

.paging button{
	height:30px;
	width:30px;
	border-color: #D1C9FE;
	border-radius:5px;
	color: #535353;
	border-style: none;
}