*{
    font-family: 'Noto Sans KR', sans-serif;
}
li{
    list-style-type: none;
}

.bookdetail{
    margin: auto;
	margin-top: 100px;
    width: 1080px;
}
.booktop_left{
    width: 650px;
    height: 410px;
    float: left;
}
.bookimage{
    width:250px;
    height: 400px;
    background-color: purple;
    float: left;
}
.bookinfo{
    float: left;
    width:	400px;
    height: 400px;
    padding-left:50px;
    box-sizing:border-box;
}
.bookinfo li{
	font-size:20px;
}
.bookinfo h1{
	width:80%;
	height:80px;
	font-size:30px;
	margin:45px 0 30px;
	line-height:36px;
	font-weight:600;
}

.star{
	font-size:26px;
    margin-top: 50px;
    margin-bottom: 80px;
}
.count{
}

.booktop_right{
    width: 220px;
    height: 410px;
    float:left;
}

.booktop_right h2{
	font-size:26px;
	font-weight:500
}

.pabongimage{
    width: 60px;
    height: 20px;
    background-color: orange;
}
.price{
    text-align: left;
}
.pricetext{
    color : #F1B40B;
    font-size : 30px;
    padding : 0px;
    margin: 0px;
}

/* 가격 정보 & 파북이 텍스트 디자인 */
.price .price_info, .pabook { font-size: 36px; margin-bottom: 10px; }

.price .price_info {margin: 10px 0;}

/* 파북이 이름 텍스트 디자인 */

.pabookname { font-size: 20px;}

/* 라디오 버튼 */
.lb{
	font-size: 25px;
}
input[type="radio"] { display: none; }

input[type="radio"] + label { color:#535353; }

input[type="radio"] + label span { /* 라디오 버튼 체크 되지 않았을 때 */
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../images/Checkboxes_noncheck.png) no-repeat;
	cursor:pointer;
}

input[type="radio"]:checked + label span { /* 라디오 버튼 체크되었을때 */
	background: url(../images/Checkboxes_check.png) no-repeat;
}
/* ========================================================== */

.book_info2{
    height: 150px;
    margin:0px;
    padding:0px;
    clear: both;
    font-size:20px;
}
.book_info2 table{
    width: 1000px;
}
.book_info2 .name{
    width: 250px;
    background-color: #BCB0FE;
}
.bnt1, .bnt2{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
    border: none;
    font-weight: bold;
}

/* 장바구니 & 결제 버튼 구현 */
.bnt1{ /* 장바구니 */
    background-color:#E8E8E8;
}
.bnt2{ /* 결제버튼 */
    background-color:#BCB0FE;
}

/* 선 구현 */
hr{
    border: 1px solid #BCB0FE;
}
.book_intro{ height: 500px; }
.book_intro h4 { font-size: 30px !important;}
.book_intro p { font-size : 15px; }