@charset "UTF-8";


#login{
	width: 100%;
	height: 100%;
}
.login_wrap{
	margin: auto;
	width: 80%;
}

.image{
	text-align: center;
	padding-top:80px;
	padding-bottom: 50px;
}

.form_wrap{
	text-align: center;	
}

.form_wrap li{
	color:white;
}


.form_wrap input{
	background-color:#D0C8FF;
	color: white;
	height:45px;
	width:358px;
	border:1px solid;
	border-color:#FFFFFF;
	border-radius:10px;
	margin-bottom:15px;
	padding-left: 20px;
}
#logincontinue{
	width: 20px;
	height: 20px;
	color: #D0C8FE;
}
button{
	height:48px;
	width:380px;
	background-color: #A695FF;
	border-color: #A695FF;
	border-style: none;
	border-radius:10px;
	color: white;
}

.link{
	margin-top:20px;
	color:#BCB0FE;
	text-align: center;
}

#link_{
	color:white;
	
}
