@charset "UTF-8";

/* main */
#container.main{margin-bottom: 100px;}
#container.main h3{font-size: 30px; margin: 40px auto 20px;}
#visualWrap{position: relative;left: 0; top: 45px; width: 100%; overflow: hidden;height: 545px;}
#visualWrap .v-mask{width: 100%; position: absolute; left: -8%;	top: 105px;}
#visualWrap .v-banner{width: 5000px;position: relative	; left: 50%;top: 0;margin-left:0px;}
#visualWrap>h3{width: 90%;}
#visualWrap .v-banner li{width: 710px; height: 440px;border-radius: 15px; float: left; margin-right: 50px;}
#mainBook{}
#mainBook li:after{display: block; clear: both; content:"";}
#mainBook li .pic{width: 220px;height: 340px; float: left; background: rgba(0,0,0,0.5); margin-left: 45px; margin-top: 50px;}
#mainBook li .pic img{ width: 100%; height: 100%; }
#mainBook li .txt{width: 400px; float: right;  color:#fff;}
#mainBook li h5{margin-top: 80px; font-size: 35px;width: 280px; line-height: 36px; margin-bottom: 30px;color:#fff;display: -webkit-box; display: -ms-flexbox; display: box;max-height:76px; overflow:hidden; vertical-align:top; text-overflow: ellipsis; word-break:break-all; -webkit-box-or
	ient:vertical; -webkit-line-clamp:2; font-weight: bold; 	text-overflow:ellipsis; overflow:hidden; white-space: nowrap;}
#mainBook li .book_author, .book_publisher{margin-bottom: 50px;font-size: 20px;}
#mainBook li .star{margin-bottom: 50px;font-size: 24px;}
#mainBook li .read{font-size: 20px;}
#mainBook li .price{color : #F1B40B; font-size : 30px; padding : 0px; margin: 0px;}
#visualWrap .v-banner li.banner1{background: #bcb0fe;}
#visualWrap .v-banner li.banner2{background: skyblue;}
#visualWrap .v-banner li.banner3{background: yellow;}
#visualWrap .v-banner li.banner4{background: pink;}
#visualWrap .v-banner li.banner5{background: gray;}
#visualWrap .v-arrow{}
#visualWrap .v-arrow li{position: absolute;}
#visualWrap .v-arrow li:nth-child(1){left: 0;top: 280px;}
#visualWrap .v-arrow li:nth-child(2){right: 0;top: 280px;}
#visualWrap .v-arrow li img{width: 100px; cursor: pointer;}
#container.main .inner-wrap{margin:50px auto; width:90%; }

/* 최근 등록된 책*/
#bookList{width: 73%;float: left;}
#bookList .currentbookimg{width: 120px; height:100%; float:left; margin-right: 10px;}
#bookList .list{width: 100%; margin-bottom: 20px}
<<<<<<< HEAD
#bookList .list li{width: 32%; float: left; margin: 3px;}
.currentbookimg img{ width: 100%; height: 100%;}
.list li p{
	font-size: 15px; 
	padding-bottom: 5px;
	margin-bottom: 10px; 	
	text-overflow:ellipsis; /* 책 제목이 넓이보다 많이 입력한다면 생략 */
	overflow:hidden; /* 최대 넓이 이상 넘어가면 감추기 */
	white-space: nowrap; /* 공백문자가 있는 경우 줄바꿈하지 않고 한줄로 나오게 함 */
	}
.list li p:nth-child(2){font-weight: bold;}

/* 사랑받는 파북이 */
=======
#bookList .list li{width: 33%;height: 200px; float: left; margin-bottom: 20px;}
#bookList .list li .bookimg{width: 150px;height: 200px;float: left;margin-right: 20px;}
#bookList .list li .booktxt{}
#bookList .list li .booktxt h5{font-size: 26px; width: 58%;line-height:30px; display: -webkit-box; display: -ms-flexbox; display: box;max-height:76px; overflow:hidden; vertical-align:top; text-overflow: ellipsis; word-break:break-all; -webkit-box-or
	ient:vertical; -webkit-line-clamp:2; margin-bottom: 10px; margin-top: 10px;height: 60px;}
#bookList .list li .booktxt .book_author{margin-bottom: 10px;}
#bookList .list li .booktxt .star{font-size: 24px;margin-bottom: 20px;}
#bookList .list li .booktxt .read{}
#cnt{font-weight: bold;}


>>>>>>> refs/remotes/origin/heeeeejin5
#loveBook{width: 25%;float: right;}
#loveBook .list li{width: 215px; height: 73px;}
#loveBook .pabook{margin-top:100px}
#loveBook .pabook .list{}
#loveBook .pabook .list li{}
<<<<<<< HEAD
#loveBook .pabook .list li span{color: #bcb0fe; font-size: 30px;}
#loveBook .pabook .list li a{font-size: 30px;}
#loveBook .sabook{}
#loveBook .sabook .list{}
#loveBook .sabook .list li{}

=======
>>>>>>> refs/remotes/origin/heeeeejin5
