@charset "UTF-8";


/* myhome1 */
#container{width:100%;height: 100%;margin-top: 60px}
#container .inner-wrap{width: 90%; margin :auto;height: 100%}
#container .side-menu{width:20%; height: 100%;float: right; background:#BCB0FE; }
#container .side-menu a{color:#fff;}
#container .side-menu ul{ margin: 60px auto; width: 200px;}
#container .side-menu ul li{width: 200px; height: 40px; background: rgba(255,255,255,0.2); border:1px solid rgba(255,255,255,0.4); border-bo ttom: none;line-height: 40px; margin-bottom: 2px;text-indent: 20px;}
#container .side-menu ul li:last-child{}
#container .side-menu ul li:hover{background: rgba(255,255,255,1)}
#container .side-menu ul li:hover a{color:#BCB0FE;}
#container .content{width: 80%; float: left;height:100%;background: #f9f9f9}
#container .content .content-wrap{width:800px; margin: 60px auto;}
#container .content-wrap li{width:49%; height: 300px; float: left; background: #fff; margin-bottom: 10px; border:1px solid #eee;box-sizing: border-box;color:#aaa;}
#container .content-wrap li:nth-child(2n+1){margin-right:1%;}
#container .content-wrap li:last-child{width:99%;}
#container .content-wrap li .profile-icon{width: 150px; height: 150px; border-radius: 50%; background: #f5f5f5; margin: auto;text-align: center; margin-top: 20px}
#container .content-wrap li .profile-icon img{width: 100px; margin-top: 20px}
#container .content-wrap li .my-point{text-align: center;}
#container .content-wrap li .icon img{width: 100px;margin-top: 30px; margin-bottom: 50px}
#container .content-wrap li .book-list img{wi dth: 90px;}
#container .content-wrap li a{color:#aaa;}

/* myhome2 */
#container.myhome2 .inner-wrap{width: 1200px;margin: auto;height: 100%;}
#container.myhome2 .side-menu{width:20%; height: 800px;float: left; background:#D1C9FE; margin-top: 100px;}
#container.myhome2 .side-menu .top{margin-top: 50px;}
#container.myhome2 .side-menu a{color:#fff;}
#container.myhome2 .side-menu ul{ margin: 60px auto; width: 200px;}
#container.myhome2 .side-menu ul li{width: 200px; height: 40px; background: rgba(255,255,255,0.2); border:1px solid rgba(255,255,255,0.4); border-bo ttom: none;line-height: 40px; margin-bottom: 2px;text-indent: 20px;}
#container.myhome2 .side-menu ul li:last-child{}
#container.myhome2 .side-menu ul li:hover{background: rgba(255,255,255,1)}
#container.myhome2 .side-menu ul li:hover a{color:#BCB0FE;}

#container .content{width: 80%; float: left;height:100%;background: #fff}
#container.myhome2 .profile-icon{width: 150px; height: 150px; border-radius: 50%; background: #f5f5f5; margin: auto;text-align: center; margin-top: 20px}
#container.myhome2 .profile-icon img{width: 80px; margin-top: 30px;}
#container.myhome2 .content{width: 80%; float: left;height:100%;background: #fff; margin-top: 100px;}
#container.myhome2 .content .content-wrap{width:820px; margin: 0 auto 60px;}
#container.myhome2 .content-wrap li{width:400px; height: 260px; float: left; background: #fff; margin-bottom: 10px; border:1px solid #BCB0FE; border-radius:5px; box-sizing: border-box;color:#aaa;text-align: center; color:#917EFD; font-size: 20px;}
#container.myhome2 .content-wrap li:last-child{background: #917EFD; text-align: center;}
#container.myhome2 .content-wrap li a{color:#917EFD; font-size: 20px;}
#container.myhome2 .content-wrap li .bookplus-icon{ margin-top: 60px; }
#container.myhome2 .content-wrap li:last-child p{color:#fff;font-size: 20px; font-weight: bold;margin-top: 60px;}

