@charset "UTF-8";

.booklist_box{
	margin: auto 100px;
    width: 890px;
    height: 720px;
    border-bottom: 1px solid #BCB0FE;
}

.booklist_wrap{
    width: 890px;
    height: 700px;
    overflow: auto; overflow-x: hidden;
}

.bookimage{
    width: 130px;
    height: 203px;
}

.bookimg{
    width:150px;
    height: 203px;
    float:left;
}

.booklist:after{
	clear:both;
	content:"";
	display:block;
}

.book{
	width:400px;
    max-width: 450px;
    height: 220px;
    margin: 10px;
    float:left;
   	background-color: white;
}
.bookinfo{
	float:left;	
	width: 250px;
	height: 203px;
}

.bookinfo li{
	margin: 10px 0;
}

.booktitle{
	text-overflow:ellipsis; /* 책 제목이 넓이보다 많이 입력한다면 생략 */
	overflow:hidden; /* 최대 넓이 이상 넘어가면 감추기 */
	white-space: nowrap; /* 공백문자가 있는 경우 줄바꿈하지 않고 한줄로 나오게 함 */
	max-height:30px;
    font-size: 25px;
   	font-weight: bold;
   	margin-bottom:10px;
}

.bookwriter{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 40px;
}

.button{
	width: 200px;
	height: 60px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 3;
	border-style: none;
	margin: 20px 400px 0;
	display: table;
}



/* myhome1 */
#container{width:100%;height: 1000px;margin-top: 60px}
#container .inner-wrap{width: 90%; margin :auto;height: 100%}
#container .side-menu{width:20%; height: 100%;float: right; background:#BCB0FE; }
#container .side-menu a{color:#fff;}
#container .side-menu ul{ margin: 60px auto; width: 200px;}
#container .side-menu ul li{width: 200px; height: 40px; background: rgba(255,255,255,0.2); border:1px solid rgba(255,255,255,0.4); border-bo ttom: none;line-height: 40px; margin-bottom: 2px;text-indent: 20px;}
#container .side-menu ul li:last-child{}
#container .side-menu ul li:hover{background: rgba(255,255,255,1)}
#container .side-menu ul li:hover a{color:#BCB0FE;}
#container .content{width: 80%; float: left;height:800px;background: #f9f9f9}
#container .content .content-wrap{width:800px; margin: 60px auto;}
#container .content-wrap li{width:49%; height: 300px; float: left; background: #fff; margin-bottom: 10px; border:1px solid #eee;box-sizing: border-box;color:#aaa;}
#container .content-wrap li:nth-child(2n+1){margin-right:1%;}
#container .content-wrap li:last-child{width:99%;}
#container .content-wrap li .profile-icon{width: 150px; height: 150px; border-radius: 50%; background: #f5f5f5; margin: auto;text-align: center; margin-top: 20px}
#container .content-wrap li .profile-icon img{width: 100px; margin-top: 20px}
#container .content-wrap li .my-point{text-align: center;}
#container .content-wrap li .icon img{width: 100px;margin-top: 30px; margin-bottom: 50px}
#container .content-wrap li .book-list img{wi dth: 90px;}
#container .content-wrap li a{color:#aaa;}

/* myhome2 */
#container.myhome2 .inner-wrap{width: 1200px;margin: auto;height: 100%;}
#container.myhome2 .side-menu{width:20%; height: 800px;float: left; background:#D1C9FE; margin-top: 100px;}
#container.myhome2 .side-menu .top{margin-top: 50px;}
#container.myhome2 .side-menu a{color:#fff;}
#container.myhome2 .side-menu ul{ margin: 60px auto; width: 200px;}
#container.myhome2 .side-menu ul li{width: 200px; height: 40px; background: rgba(255,255,255,0.2); border:1px solid rgba(255,255,255,0.4); border-bo ttom: none;line-height: 40px; margin-bottom: 2px;text-indent: 20px;}
#container.myhome2 .side-menu ul li:last-child{}
#container.myhome2 .side-menu ul li:hover{background: rgba(255,255,255,1)}
#container.myhome2 .side-menu ul li:hover a{color:#BCB0FE;}

#container .content{width: 80%; float: left;height:800px;background: #fff}
#container.myhome2 .profile-icon{width: 150px; height: 150px; border-radius: 50%; background: #f5f5f5; margin: auto;text-align: center; margin-top: 20px}
#container.myhome2 .profile-icon img{width: 80px; margin-top: 30px;}
#container.myhome2 .content{width: 80%; float: left;height:800px;background: #fff; margin-top: 100px;}
#container.myhome2 .content .content-wrap{width:820px; margin: 0 auto 60px;}
#container.myhome2 .content-wrap li{width:400px; height: 260px; float: left; background: #fff; margin-bottom: 10px; border:1px solid #BCB0FE; border-radius:5px; box-sizing: border-box;color:#aaa;text-align: center; color:#917EFD; font-size: 20px;}
#container.myhome2 .content-wrap li:last-child{background: #917EFD; text-align: center;}
#container.myhome2 .content-wrap li a{color:#917EFD; font-size: 20px;}
#container.myhome2 .content-wrap li .bookplus-icon{ margin-top: 60px; }
#container.myhome2 .content-wrap li:last-child p{color:#fff;font-size: 20px; font-weight: bold;margin-top: 60px;}



/* pabook */
#container.pabook{}
#container.pabook .inner-wrap{width: 80%; margin: 80px auto;}
#container.pabook .top{width: 100%; border-radius:20px; background: #D1C9FE; padding: 50px 50px; box-sizing:border-box;}
#container.pabook .top .profile{float: left;text-align: center; margin-right:80px; width: 200px;height: 200px; border-radius:50%; background: #fff;}
#container.pabook .top .profile img{margin-top: 30px;}
#container.pabook .top p{margin-top: 50px; margin-bottom: 20px;font-size: 36px; color:#7C64FD; font-weight: 600;}
#container.pabook .top span{}
#likeCnt{margin-left: 20px; font-size: 26px; color:#7C64FD; font-weight: bold;}
#container.pabook .top span img{width: 40px;margin-top: -8px;}
#container.pabook .bottom{margin-bottom: 100px;}
#container.pabook .bottom h4{font-size: 30px; font-weight: 500; margin: 50px 0 30px;}
#container.pabook .bottom ul{}
#container.pabook .bottom ul li{width: 33%;height: 200px; float: left; margin-bottom: 20px;}
#container.pabook .bottom ul li .bookimg{width: 28%; overflow:hidden; height: 200px;float: left;margin-right: 20px;}
#container.pabook .bottom ul li .bookimg img{width:100%}
#container.pabook .bottom ul li .booktxt{float:right; width:70%; margin-top:-200px}
#container.pabook .bottom ul li .booktxt h5{font-size: 26px; width: 90%;line-height:30px; display: -webkit-box; display: -ms-flexbox; display: box;max-height:76px; overflow:hidden; vertical-align:top; text-overflow: ellipsis; word-break:break-all; -webkit-box-or
	ient:vertical; -webkit-line-clamp:2; margin-bottom: 10px; margin-top: 10px;height: 60px;}
#container.pabook .bottom ul li .booktxt .book_author{margin-bottom: 10px;}
#container.pabook .bottom ul li .booktxt .star{font-size: 24px;margin-bottom: 20px;}
#container.pabook .bottom ul li .booktxt .read{}
#cnt{font-weight: bold;}





