@charset "UTF-8";
.booklist {
	width: 400px;
	height: 203px;
	float: left;
}
.bookimg {
	overflow: visible;
	height:203px;
	width: 132px;
	height: 203px;;
}
.booktitle{
	overflow:visible;
	text-align:left;
	font-size: 18px;
	font-weight: normal;
}
.auth{
	font-size: 10px;
	font-weight: normal;
}
.bookcount{
	font-size: 10px;
}